.nodeContainer {
    cursor: pointer;
    z-index: 2;
    width: 210px;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(51, 54, 68, 0.05),
        0px 2px 6px rgba(51, 54, 68, 0.1);
    border-radius: 8px;
}

.nodeContainer.containerDisplay {
    height: 300px;
    width: 250px;
    resize: both;
    overflow: auto;
}

.nodeHeader {
    height: 28px;
    background: #ebf2ff;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #1966fa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 0px 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.top,
.top:active {
    cursor: move;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.bottom {
    display: flex;
    border-top: 1px solid #ccc;
    padding: 5px;
}

.bottom button {
    font-size: 10px;
    margin-right: 5px;
}

.status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    opacity: 1;
}

.pending {
    background-color: #ebf2ff;
}

.executing {
    background-color: orange;
    animation-name: blink;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}

.successful {
    background-color: green;
}

.failed {
    background-color: red;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
