.nodeContainer {
	border: 2px solid #ccc;
	border-radius: 4px;
	width: 180px;
	margin: 10px;
	background: white;
	z-index: 2;
	font-size: 0.8em;
}

.top,
.top:active {
	cursor: move;
}

.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 5px;
}

.bottom {
	display: flex;
	border-top: 1px solid #ccc;
	padding: 5px;
}

.bottom button {
	font-size: 10px;
}

.inputArea {
}
