.header {
    height: 54px;
    padding: 0 30px 0 30px;
    background: #ffffff;
    box-shadow: 0px 1px 2px rgba(51, 54, 68, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftNav {
    width: 15%;
}

.middleNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middleNav .button img {
    height: 18px;
}

.iconButton {
    display: flex;
    flex-direction: column;
    padding-right: 56px;
}

.iconButton:last-child {
    padding-right: 0px;
}

.iconText {
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #7c8698;
    margin-top: 4px;
}

.rightNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    cursor: pointer;
}

.docButton {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.executeButton {
    width: 132px;
    height: 36px;
    background: #43a047;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}
.executeButton:hover {
    opacity: 0.8;
}

.executeButton > span {
    font-size: 20px;
    line-height: 150%;
    color: #ffffff;
}

.inactiveButton {
    opacity: 0.4;
    cursor: not-allowed;
}

.shareButton {
    width: 36px;
    height: 36px;
    background: #dfe1e6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-left: 12px;
}

.exportButton {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.exportButton > * {
    margin-right: 6px;
}

.exportButton > span {
    font-size: 15px;
    line-height: 150%;
    color: #6a3ded;
}

.blocksModal {
    z-index: 10;
    background: white;
    width: 800px;
    box-shadow: 0px 6px 10px rgba(51, 54, 68, 0.05),
        0px 10px 16px rgba(51, 54, 68, 0.15);
    border-radius: 12px;
}

.blocksModalOverlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, 0.2);
}

.blockModalClose {
    display: block;
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
    border: none;
    background: #ebf2ff;
    border-radius: 2px;
    padding: 5px 10px;
    width: 100px;
    cursor: pointer;
}
