.header {
    height: 70px;
    padding: 0 30px 0 30px;
    background: #ffffff;
    box-shadow: 0px 1px 2px rgba(51, 54, 68, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftNav {
    width: 15%;
}

.middleNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconButton {
    display: flex;
    flex-direction: column;
    padding-right: 56px;
}

.iconButton:last-child {
    padding-right: 0px;
}

.iconText {
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #7c8698;
    margin-top: 4px;
}

.rightNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    cursor: pointer;
}

.docButton {
    display: flex;
    flex-direction: column;
    padding-right: 47px;
}

.executeButton {
    width: 114px;
    height: 36px;
    background: #6a3ded;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.executeButton > span {
    width: 62px;
    height: 24px;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
}

.shareButton {
    width: 36px;
    height: 36px;
    background: #dfe1e6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-left: 12px;
}

.exportButton {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.exportButton > * {
    margin-right: 6px;
}

.exportButton > span {
    font-size: 15px;
    line-height: 150%;
    color: #6a3ded;
}
